.profile-photo {
    width: 200px; /* Ширина картинки */
    height: auto; /* Авто-высота, чтобы не искажалась */
    margin-left: 20px; /* Отступ от кнопок */
    border-radius: 10px; /* Закругление углов */
  }
  